absl_py
accelerate
cv_bridge
deepspeed
diffusers==0.31.0
h5py==3.11.0
huggingface_hub==0.24.2
imageio==2.36.1
imgaug==0.4.0
ipython
numpy==1.26.4
opencv_python_headless==4.10.0.84
Pillow==11.0.0
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.4.5
scipy==1.14.1
tensorflow==2.15.0
tensorflow_datasets==4.9.3
tensorflow_graphics==2021.12.3
timm==0.9.10
tqdm
transformers
